{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block scripts %}
    <!-- Datatables JQuery table formatting and interface -->
    <script type="text/javascript" src="https://cdn.datatables.net/t/dt/jq-2.2.0,dt-1.10.11/datatables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/t/dt/jq-2.2.0,dt-1.10.11/datatables.min.css"/>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://d3js.org/d3.v4.js"></script>

    <script src="/static/js/dagre.min.js"></script>
    <script src="/static/js/cytoscape.min.js"></script>
    <script src="/static/js/cytoscape-dagre.js"></script>
    <script src="/static/js/saveSvgAsPng.js"></script>
    <script src="/static/js/causal-flow.js"></script>
    <script src="/static/js/achilles-boxplot.js"></script>

    <style>
      #side-nav {
        position: fixed;
        top: 50px;
        width: 175px;
        padding: 10px;
        padding-left: 15px;
      }

      #side-nav a {
        display: block;
        margin-bottom: 4px;
        padding-top: 2px;
        color: #600;
        font-weight: normal;
        text-decoration: none;
      }

      #side-nav a.active {
        font-weight: bold;
        border-bottom: 2px solid #600;
        margin-bottom: 3px;
      }
      
      .insignificant-genomics {
        background-color: #FF5656 !important;
      }

      .achilles-tooltip {
				display: inline-block;
				border-radius: 2px;
				border: 1px solid black;
				background-color: #EEE;
				padding: 0.3em;
				position: fixed;
				top: -1000px;
				left: -1000px;
				opacity: 0;
				transform: translate(10px, -50%);
			}
      
      .causal-flow-tooltip {
				display: inline-block;
				border-radius: 2px;
				border: 1px solid black;
				background-color: #EEE;
				padding: 0.3em;
				position: fixed;
				top: -1000px;
				left: -1000px;
				opacity: 0;
				transform: translate(10px, -50%);
        z-index: 10000;
			}

      #regulation-graph {
        width: 100%;
        height: 300px;
        left: 0px;
        top: 0px;
      }
      #boxplot-graph {
        width: 60%;
        height: 250px;
        left: 0px;
        top: 0px;
        float: left;
      }
      #enrichment-graph {
        width: 40%;
        height: 250px;
        left: 0px;
        top: 0px;
        float: left;
      }

      .hallmark-container {
				position: relative;
			}

      .hallmark-container img {
				width: 100%;
			}

			.hallmark-container img:not(:first-child) {
				position: absolute;
				top: 0;
				left: 0;
			}

			.hallmark-container img.disabled {
				opacity: 0.3;
        filter: grayscale(100%);
			}

      .causal-flow-charts {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
      }

      .causal-flow-charts div>div {
        text-align: center;
      }
    </style>

    <!-- Javascript to modify tables -->
    <script type="text/javascript">
      let grnaDataTable
      
      Highcharts.SVGRenderer.prototype.symbols.cross = function (x, y, w, h) {
        return ['M', x, y, 'L', x + w / 1.5, y + h / 1.5, 'M', x + w / 1.5, y, 'L', x, y + h / 1.5, 'z'];
      }

      function plotExpressions(phenotype) {
        let request = new XMLHttpRequest()
				request.open("GET", `/bicluster-expression-graph/{{bicluster}}/${phenotype}`, true)
				request.responseType = "text"
				
				request.onload = (event) => {
          let json = JSON.parse(request.response)
        
          $('#boxplot-graph').highcharts({
            chart: {
              type: 'boxplot'
            },
            legend: {
              enabled: true
            },
            title: {
              text: ''
            },
            xAxis: {
              plotLines: [
                {
                  value: json.boxplotQuintiles[0],
                  color: 'lightGray', dashStyle: 'shortdash',
                  width: 1, zIndex: 3,
                  label: {
                    text: '20%', 
                    style: {
                      color: 'lightGray',
                      fontSize: '8pt'
                    }
                  }
                }, {
                  value: json.boxplotQuintiles[1],
                  color: 'lightGray', dashStyle: 'shortdash',
                  width: 1, zIndex: 3,
                  label: {
                    text: '40%',
                    style: {
                      color: 'lightGray',
                      fontSize: '8pt'
                    }
                  }
                }, {
                  value: json.boxplotQuintiles[2],
                  color: 'lightGray', dashStyle: 'shortdash',
                  width: 1, zIndex: 3,
                  label: {
                    text: '60%',
                    style: {
                      color: 'lightGray',
                      fontSize: '8pt'
                    }
                  }
                }, {
                  value: json.boxplotQuintiles[3],
                  color: 'lightGray', dashStyle: 'shortdash',
                  width: 1, zIndex: 3,
                  label: {
                    text: '80%',
                    style: {
                      color: 'lightGray',
                      fontSize: '8pt'
                    }
                  }
                }
              ]
            },
            yAxis: {
              title: {text: 'Relative Expression'},
              plotLines: [{
                value: json.boxplotRatiosMean,
                color: 'green',
                dashStyle: 'shortdash',
                width: 1,
                zIndex: 3,
                label: {
                  text: 'mean',
                  style: {
                    color: 'gray',
                    fontSize: '8pt'
                  }
                }
              }]
            },
            series: [
              {
                name: 'All',
                showInLegend: false,
                colorByPoint: true,
                data: json.boxplotData,
                colors: json.boxplotColors,
                fillColors: json.boxplotColors,
              },
              ...json.boxplotLegend
            ]
          });

          // display enrichment quintiles if we have the data available
          if(json.enrichmentQuintiles) {
            document.getElementById("enrichment-scatterplot-stats").innerHTML = ""
            document.getElementById("enrichment-header").innerHTML = "Enrichment of Phenotypes in Qunitiles"
            document.getElementById("enrich").innerHTML = "Patient phenotypes are sorted as on the left and broken into quintiles following the dashed grey lines. Then each quintile is tested for enrichment of each phenotype. The deviation from zero indicate -log10(enrichment p-value), and positive values indicate over-enrichment and negative values underenrichment."
            $('#enrichment-graph').highcharts({
              chart: {
                type: 'column',
                alignTicks: false
              },
              title: {
                text: ''
              },
              xAxis: {
                tickLength: 0,
                labels: {
                  enabled: false,
                },
                plotLines: [
                  {
                    value: json.enrichmentQuintiles.quintiles[0],
                    color: 'lightGray', dashStyle: 'shortdash',
                    width: 1, zIndex: 3,
                    label: {
                      text: '20%',
                      style: {
                        color: 'lightGray',
                        fontSize: '8pt'
                      }
                    }
                  }, {
                    value: json.enrichmentQuintiles.quintiles[1],
                    color: 'lightGray', dashStyle: 'shortdash',
                    width: 1, zIndex: 3,
                    label: {
                      text: '40%',
                      style: {
                        color: 'lightGray',
                        fontSize: '8pt'
                      }
                    }
                  }, {
                    value: json.enrichmentQuintiles.quintiles[2],
                    color: 'lightGray', dashStyle: 'shortdash',
                    width: 1, zIndex: 3,
                    label: {
                      text: '60%', 
                      style: {
                        color: 'lightGray',
                        fontSize: '8pt'
                      }
                    }
                  }, {
                    value: json.enrichmentQuintiles.quintiles[3],
                    color: 'lightGray', dashStyle: 'shortdash',
                    width: 1, zIndex: 3,
                    label: {
                      text: '80%',
                      style: {
                        color: 'lightGray',
                        fontSize: '8pt'
                      }
                    }
                  }
                ]
              },
              yAxis: {
                title: {
                  text: 'Enrichment of Subtypes in Quintiles'
                },
                max: json.enrichmentQuintiles.maxPValue,
                min: json.enrichmentQuintiles.minPValue,
                plotLines: [{
                  value: json.enrichmentQuintiles.upper,
                  color: 'red',
                  dashStyle: 'shortdash',
                  width: 1,
                  zIndex: 3,
                }, {
                  value: json.enrichmentQuintiles.lower,
                  color: 'red',
                  dashStyle: 'shortdash',
                  width: 1,
                  zIndex: 3,
                }]
              },
              series: [{
                name: 'All',
                data: json.enrichmentQuintiles.data,
                showInLegend: false,
                colorByPoint: true,
                colors: json.enrichmentQuintiles.colors,
              }]
            });
          }
          else {
            document.getElementById("enrichment-scatterplot-stats").innerHTML = `R = ${json.enrichmentScatter.scatter.stats[0].toPrecision(3)}, p = ${json.enrichmentScatter.scatter.stats[1].toExponential(2)}`
            document.getElementById("enrichment-header").innerHTML = "Phenotypes in Scatterplot"
            document.getElementById("enrich").innerHTML = "Patients are displayed in scatterplot, with x values corresponding to median bicluster gene expression and y values corresponding to phenotype values."
            $('#enrichment-graph').highcharts({
              tooltip: {
                formatter: function () {
                  return `<b>${this.key}</b><br>${json.enrichmentScatter.biclusterName}: ${this.x}<br>${json.enrichmentScatter.phenotypeName}: ${this.y}<br>`
                }
              },
              chart: {
                type: 'scatter'
              },
              legend: {
                enabled: false,
              },
              title: {
                text: ''
              },
              xAxis: {
                title: {
                  text: json.enrichmentScatter.biclusterName,
                },
              },
              yAxis: {
                title: {
                  text: json.enrichmentScatter.phenotypeName,
                },
              },
              series: [
                json.enrichmentScatter.scatter.data,
                {
                  type: 'line',
                  name: 'Regression Line',
                  data: json.enrichmentScatter.scatter.regression,
                  marker: {
                    enabled: false
                  },
                  states: {
                    hover: {
                      lineWidth: 0
                    }
                  },
                  enableMouseTracking: false,
                  color: "#FF0000"
                },
              ]
            });
          }
        }

        request.send()
      }

      let regulatorTimeout
      let loadRegulatorsDebounced = (rValueCutoff) => {
        if(!isNaN(parseFloat(rValueCutoff))) {
          rValueCutoff = parseFloat(rValueCutoff)

          clearTimeout(regulatorTimeout)
          regulatorTimeout = setTimeout(() => {
            loadRegulators(rValueCutoff)
          }, 100)
        }
      }

      function loadRegulators(rValueCutoff) {
        let request = new XMLHttpRequest()
				request.open("GET", `/bicluster/{{bicluster}}/info?r_cutoff=${rValueCutoff}`, true)
				request.responseType = "text"
				
				request.onload = (event) => {
          let json = JSON.parse(request.response)
          let graphElements = json.cytoscape

          document.getElementById("regulators-table").innerHTML = ""
          for(let regulator of json.regulators) {
            let action = regulator[3] == "Repressor"
              ? `<div style='font-weight: bold; color:#990000'>${regulator[3]}</div>`
              : `<div style='font-weight: bold; color:#009900'>${regulator[3]}</div>`
            
            let priorLink = regulator[7]
              ? `<a href=${regulator[7]} target="_blank">${regulator[4]}</a>`
              : regulator[4]

            document.getElementById("regulators-table").innerHTML += `
              <td>${regulator[0]}</td>
              <td><a href='/search?gene=${regulator[2]}'>${regulator[2]}</a></td>
              <td>${action}</td>
              <td>${priorLink}</td>
              <td>${regulator[6] || "N/A"}</td>
              <td>${regulator[5] || "N/A"}</td>
            `
          }

          var cy = cytoscape({
            container: $('#regulation-graph'),
            elements: graphElements,
            style: [{
              selector: 'edge',
              style: {
                'width': 3,
                'line-color': '#000',
                'opacity': 0.2,
                'target-arrow-color': '#000',
                'target-arrow-shape': 'triangle'
              }
            }, {
              selector: '.repressor',
              style: {
                'width': 3,
                'line-color': '#f00',
                'opacity': 0.3,
                'target-arrow-color': '#f00',
                'target-arrow-shape': 'tee'
              }
            }, {
              selector: '.activator',
              style: {
                'width': 3,
                'line-color': '#0f0',
                'opacity': 0.3,
                'target-arrow-color': '#0f0',
                'target-arrow-shape': 'triangle'
              }
            }, {
              selector: '.genotype',
              style: {
                'background-color': '#d0d',
                'label': 'data(name)',
                'shape': 'polygon',
                'shape-polygon-points': '-1 -1 0 -0.45 1 -1 0 1'
              }
            }, {
              selector: '.tf',
              style: {
                'background-color': '#f00',
                'label': 'data(name)',
                'shape': 'triangle'
              }
            }, {
              selector: '.mirna',
              style: {
                'background-color': '#ec5',
                'label': 'data(name)',
                'shape': 'diamond'
              }
            }, {
              selector: '.bicluster',
              style: {
                'background-color': '#aaa',
                'label': 'data(name)',
                'shape': 'square'
              }
            }, {
              selector: '.hallmark',
              style: {
                'background-color': '#0f0',
                'label': 'data(name)',
                'shape': 'rhomboid'
              }
            }],
            layout: {
              name: 'dagre'
            }
          });
          cy.resize();
        }

        request.send()
      }

      function loadGRNAData(gene, cellLine) {
        document.getElementById("depmap-link").href = `https://depmap.org/portal/gene/${gene}?tab=dependency`
        
        let request = new XMLHttpRequest()
				request.open("GET", `/grna/${gene}/${cellLine}`, true)
				request.responseType = "text"

        document.getElementById("genomics-modal-label").innerHTML = `${gene} from ${cellLine}`
				
				request.onload = event => {
          const data = JSON.parse(request.response)
          const addgeneURL = "https://www.addgene.org/search/catalog/plasmids/?q="
          let hidePValue = false

          grnaDataTable.clear().draw()
          for(const grna of data) {
            grnaDataTable.row.add([
              grna[0],
              `<a target="_blank" href="${addgeneURL}${grna[1]}">${grna[1]}</a>`,
              grna[2],
              grna[3] ? grna[3] : "N/A",
            ])

            if(!grna[3]) {
              hidePValue = true
            }
          }

          grnaDataTable.column(3).visible(!hidePValue)

          grnaDataTable.draw()
        }

        request.send()
      }

      jQuery.extend(jQuery.fn.dataTableExt.oSort, {
        "non-empty-string-asc": (str1, str2) => {
          if(str1 == "") {
            return 1
          }
          if(str2 == "") {
            return -1
          }
          return ((str1 < str2) ? -1 : ((str1 > str2) ? 1 : 0))
        },
        "non-empty-string-desc": (str1, str2) => {
          if(str1 == "") {
            return 1
          }
          if(str2 == "") {
            return -1
          }
          return ((str1 < str2) ? 1 : ((str1 > str2) ? -1 : 0))
        },
        "combined-value-asc": (str1, str2) => {
          const str1Value = parseFloat(str1.split(" ")[0])
          const str2Value = parseFloat(str2.split(" ")[0])
          return str2Value - str1Value
        },
        "combined-value-desc": (str1, str2) => {
          const str1Value = parseFloat(str1.split(" ")[0])
          const str2Value = parseFloat(str2.split(" ")[0])
          return str1Value - str2Value
        },
        "float-asc": (str1, str2) => {
          return parseFloat(str1) - parseFloat(str2)
        },
        "float-desc": (str1, str2) => {
          return parseFloat(str2) - parseFloat(str1)
        },
      })
      
      $(document).ready(function() {
        grnaDataTable = $("#genomics-grna-table").DataTable({
          columnDefs: [{
            type: "float",
            targets: 2,
          }, {
            type: "float",
            targets: 3,
          }],
          "order": [[2, "desc"]]
        })
        
        $("#gobps").DataTable({
          columnDefs: [{
            type: 'non-empty-string',
            targets: 2,
          }],                
          "order": [[2, "asc"]]
        })

        $("[name='genomics-table']").DataTable({
          columnDefs: [{
            type: "combined-value",
            targets: 1,
          }, {
            type: "float",
            targets: 2,
          }],
          "order": [[1, "desc"]]
        })

        $("[name='meso1-genomics-table']").DataTable({
          columnDefs: [{
            type: "non-empty-string",
            targets: 0,
          }, {
            type: "float",
            targets: 1,
          }, {
            type: "float",
            targets: 2,
          }],
          "order": [[0, "asc"]]
        })

        var shiftWindow = function() {
          scrollBy(0, -50)
        }
        window.addEventListener("hashchange", shiftWindow)

        function load() {
          if (window.location.hash) {
            shiftWindow()
          }
        }

        let defaultRValueCutoff = 0.4
        loadRegulators(defaultRValueCutoff)
        document.getElementById("rvalue-cutoff-range").value = defaultRValueCutoff
        document.getElementById("rvalue-cutoff-range-clone").value = defaultRValueCutoff
        document.getElementById("rvalue-cutoff-input").value = defaultRValueCutoff
        document.getElementById("rvalue-cutoff-input-clone").value = defaultRValueCutoff
        

        let handleRValueInput = (event) => {
          document.getElementById("rvalue-cutoff-range").value = event.target.value
          document.getElementById("rvalue-cutoff-range-clone").value = event.target.value
          document.getElementById("rvalue-cutoff-input").value = event.target.value
          document.getElementById("rvalue-cutoff-input-clone").value = event.target.value
          loadRegulatorsDebounced(event.target.value)
        }

        document.getElementById("rvalue-cutoff-range").addEventListener("input", handleRValueInput)
        document.getElementById("rvalue-cutoff-range-clone").addEventListener("input", handleRValueInput)
        document.getElementById("rvalue-cutoff-input").addEventListener("input", handleRValueInput)
        document.getElementById("rvalue-cutoff-input-clone").addEventListener("input", handleRValueInput)

        $("[name='genomics-link']").on("click", event => {
          const geneName = event.target.innerHTML
          event.preventDefault()
        })
      });
    </script>
{% endblock %}

{% block content %}
<div class="container-fluid" style="margin-top: 40px;"></div>

<div>
  <div class='bs-callout bs-callout-success text-center'>
    <h3><strong>{{ bicluster | upper }}</strong></h3>
  </div>
  <div id="Bicluster Network Summary" class='bs-callout bs-callout-default'>
    <h4>Bicluster Network Summary <span class="glyphicon glyphicon-info-sign" data-toggle='collapse' data-target='#bicNet' style='color:#f00;)'></span></h4>
    <div id='bicNet' class='collapse' style='text-align:justify;'>
      <div align='center'>
        <b>Legend:</b>
        <br>
        <span class="glyphicon glyphicon-stop" style='color:#d0d;'></span> = Somatically mutated gene/pathway</br>
        <span class="glyphicon glyphicon-stop" style='color:#f00'></span> = TF;
        <span class="glyphicon glyphicon-stop" style='color:#ec5'></span> = miRNA; (Regulator edges: <span class="glyphicon glyphicon-arrow-up" style='color:#0f0; opacity:0.7;'></span> = Activation; <span style='color:#f00; opacity:0.7;'><b>T</b></span> = Repression)
        <br>
        <span class="glyphicon glyphicon-stop" style='color:#aaa'></span> = Bicluster
        <br>
        <span class="glyphicon glyphicon-stop" style='color:#0f0'></span> = Hallmark of Cancer
      </div>
    </div>
    <div id="regulation-graph"></div>
    <div>
      <div class="form-group" style="width: 40%; margin: auto;">
        <label for="formControlRange">Absolute R-Value Cutoff (&gt;= r-values kept)</label>
        <div style="display: flex;">
          <input value="0.0" type="text" size="3" style="margin-right: 10px;" id="rvalue-cutoff-input" />
          <input value="0.0" type="range" min="0" max="1" step="0.1" class="form-control-range" id="rvalue-cutoff-range" />
        </div>
      </div>
    </div>
  </div>
  <div id="Summary" class='bs-callout bs-callout-default'>
    <h4>Summary</h4>
    <div>
      <br />
      <div class="form-group" style="width: 200px;">
        <label for="phenotype-select">Phenotype</label>
        <select id="phenotype-select" class="form-control">
          {% for phenotype in expression_selectable_phenotypes %}
            <option value="{{ phenotype[1] }}">{{ phenotype[0] }}</option>
          {% endfor %}
        </select>
      </div>
      <table width='100%'>
        <tr>
          <td width='60%' align='center'>
            <span data-toggle='collapse' data-target='#tumorExp'>
              <b>Bicluster Expression of Phenotype</b>
            </span>
            <span class="glyphicon glyphicon-info-sign" data-toggle='collapse' data-target='#tumorExp' style='color:#f00;'></span>
            <div id='tumorExp' class='collapse' style='text-align:justify;'>
              Expression of genes in bicluster from the selected patient phenotype on left side of red dashed line and out of bicluster on right of red dashed line. Each patient is represented as a boxplot, ordered by their median expression for the bicluster genes (smallest to largest) and colored according to it's phenotype value.
            </div>
          </td>
          <td width='40%' align='center'>
            <span data-toggle='collapse' data-target='#enrich'>
              <b id="enrichment-header">Enrichment of Phenotypes in Qunitiles</b>
            </span>
            <span class="glyphicon glyphicon-info-sign" data-toggle='collapse' data-target='#enrich' style='color:#f00;)'></span>
            <div id='enrich' class='collapse' style='text-align:justify;'>
              Patient phenotypes are sorted as on the left and broken into quintiles following the dashed grey lines. Then each quintile is tested for enrichment of each phenotype. The deviation from zero indicate -log10(enrichment p-value), and positive values indicate over-enrichment and negative values underenrichment.
            </div>
            <b id="enrichment-scatterplot-stats" style="display: block;"></b>
          </td>
        </tr>
      </table>
      <div id="boxplot-graph"></div>
      <div id="enrichment-graph"></div>
    </div>
    <table class='table table-bordered table-striped text-center'>
      <tr>
        <th class='text-center'>Genes</th>
        <th class='text-center'>Patient Tumors</th>
        <th class='text-center'>FPC Var. Exp.<br>(Perm. <em>p</em>-value)</th>
        <th class='text-center'>Survival<br>(<em>p</em>-value)</th>
        <th class='text-center'>Independent Replication</th>
      </tr>
      <tr>
        <td>
          <a href='#genes'>{{genes|length}}</a></td><td><a href='#tumors'>{{tumors|length}}</a>
        </td>
        {# varexp #}
        <td>
          {% if bic_info.varexp_flag %}
            <div style='font-weight: bold; color:#990000'>
          {% endif %}
          {{"%.2f"|format(bic_info.varexp_fpc)}} ({{"%.1E"|format(bic_info.varexp_fpc_pval)}})
          {% if bic_info.varexp_flag %}
            </div>
          {% endif %}
        </td>
        
        {# Survival #}
        <td>
          {% if bic_info.survival_flag %}
            <div style='font-weight: bold; color:#990000'>
          {% endif %}
          {{ "%.2f" | format(bic_info.survival) }} ({{ "%.1E" | format(bic_info.survival_pval) }})
          {% if bic_info.survival_flag %}
            </div>
          {% endif %}
        </td>
        
        {# Replication #}
        <td>
          {% if not bic_info.repl_coexp and not bic_info.repl_survival %}
            None
          {% endif %}
          {% if bic_info.repl_coexp %}
            <a href='#replication'>Co-expression</a>
          {% endif %}
          <br />
          {% if bic_info.repl_survival %}
            <a href='#replication'>Survival</a>
          {% endif %}
        </td>
      </tr>
    </table>
    <table class='table table-bordered table-striped text-center'>
      <tr>
          <th class='text-center'>Regulators</th><th class='text-center'>Causal Flows</th><th class='text-center'>Enriched GO BPs</th><th class='text-center'>Enriched<br>Hallmarks of Cancer</th>
      </tr>
      <tr>
        <td><a href='#regulators'>{{ regulators | count }}</a></td><td><a href='#causal'>{{ causal_flows | count }}</a></td><td><a href='#gobp'>{{ gobps | count }}</a></td><td><a href='#hallmarks'>{{ hallmarks | count }}</a></td>
      </tr>
    </table>
  </div>
  <div id="Replication" class='bs-callout bs-callout-default' id='replication'>
    <h4>Replication in independent datasets</h4>
    <div class="container-fluid" style="margin-top: 20px;"></div>
    <table class='table table-bordered table-striped text-center'>
      <tr>
        <th class='text-center'>Study</th><th class='text-center'>FPC Var. Exp. (Perm. <em>p</em>-value)</th><th class='text-center'>Survival (<em>p</em>-value)</th>
      </tr>
      {% for rep1 in replication %}
        <tr>
          <td>
            <a href='http://www.ncbi.nlm.nih.gov/pubmed/{{ rep1[8] }}' target='_blank'>{{ rep1[7] }}</a></td>
            <td>
              {% if rep1[9]==1 %}
                <div style='font-weight: bold; color:#990000'>
              {% endif %}
              {{ "%.2f" | format(rep1[3]) }} ({{ "%.1E" | format(rep1[4]) }})
              {% if rep1[9]==1 %}
                </div>
              {% endif %}
            </td>
            <td>
              {% if rep1[10]==1 %}
                <div style='font-weight: bold; color:#990000'>
              {% endif %}
              {{ "%.2f" | format(rep1[5]) }} ({{ "%.1E" | format(rep1[6]) }})
              {% if rep1[10]==1 %}
                </div>
              {% endif %}
            </td>
        </tr>
      {% endfor %}
      <tr>
      </tr>
    </table>
  </div>
  <div id="Genes" class='bs-callout bs-callout-default' id='genes'>
    <h4>Genes</h4>
    <div class="container-fluid" style="margin-top: 20px;"></div>
    <div class='text-left'>
      <ul class='list-inline'>
        {% for gene in genes %}
          <li>
            <a href='http://www.genecards.org/cgi-bin/carddisp.pl?gene={{ gene[1] }}' target='_blank'>{{ gene[1] }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>          
  <div id="Patients" class='bs-callout bs-callout-default' id='tumors'>
    <h4>Patients <span class="glyphicon glyphicon-plus" data-toggle='collapse' data-target='#patients'></span></h4>
    <div id='patients' class='collapse'>
      <ul class='list-inline'>
        {% for patient in tumors %}
          <li>{{ patient[1] }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div id="Regulators" class='bs-callout bs-callout-default' id='regulators'>
    <h4>Regulators</h4>
    <div>
      <div class="form-group" style="width: 40%; margin: auto;">
        <label for="formControlRange">Absolute R-Value Cutoff (&gt;= r-values kept)</label>
        <div style="display: flex;">
          <input value="0.0" type="text" size="3" style="margin-right: 10px;" id="rvalue-cutoff-input-clone" />
          <input value="0.0" type="range" min="0" max="1" step="0.1" class="form-control-range" id="rvalue-cutoff-range-clone" />
        </div>
      </div>
    </div>
    <div class="container-fluid" style="margin-top: 20px;"></div>
    <table class='table table-bordered table-striped text-center'>
      <thead>
        <tr>
          <th class='text-center'>Type</th>
          <th class='text-center'>Name</th>
          <th class='text-center'>Action</th>
          <th class='text-center'>Prior Knowledge</th>
          <th class='text-center'>R-Value</th>
          <th class='text-center'>P-Value</th>
        </tr>
      </thead>

      <tbody id="regulators-table"></tbody>
    </table>
    <i>* miRNA regulators are taken from TCGA, gene regulators are taken from Genentech</i>
  </div>      
  <div id="Causal Flows" class='bs-callout bs-callout-default' id='causal'>
    <h4>Causal Flows</h4>
    <div class="container-fluid" style="margin-top: 20px;"></div>
    <table class='table table-bordered table-striped text-center'>
      <colgroup width="20%"></colgroup>
      <colgroup width="5%"></colgroup>
      <colgroup width="20%"></colgroup>
      <colgroup width="5%"></colgroup>
      <colgroup width="20%"></colgroup>
      <colgroup width="30%"></colgroup>
      <tr>
        <th class='text-center'>
          <span style='font-weight: bold; color:#990000'>Mutation</span>
        </th>
        <th class='text-center'>
          <span class='glyphicon glyphicon-arrow-right'></span>
        </th>
        <th class='text-center'>
          <span style='font-weight: bold; color:#006600'>Regulator</span>
        </th>
        <th class='text-center'>
          <span class='glyphicon glyphicon-arrow-right'></span>
        </th>
        <th class='text-center'>
          <span style='font-weight: bold; color:#000099'>Bicluster</span>
        </th>
        <th class='text-center'>
          <span style='font-weight: bold;'>Causal Flows</span>
        </th>
      </tr>
      {% for cf1 in causal_flows %}
        <tr>
          <td valign="middle">
            <span style='color:#990000'>{{ cf1[0] }}</span>
          </td>
          <td valign="middle">
            <span class='glyphicon glyphicon-arrow-right'></span>
          </td>
          <td valign="middle">
            <span style='color:#006600'>{{ cf1[1] }}</span>
          </td>
          <td valign="middle">
            <span class='glyphicon glyphicon-arrow-right'></span>
          </td>
          <td valign="middle">
            <span style='color:#000099'>{{ bicluster | upper }}</span>
          </td>
          <td valign="middle">
            <button
              class="btn btn-primary btn-small expression-viewer"
              data-toggle="modal"
              data-target="#expressions-modal"
              mutation="{{cf1[0]}}"
              regulator="{{cf1[1]}}"
              bicluster="{{bicluster}}"
              style="display: {{ cf1[2] }};"
            >
              View Causal Flow
            </button>  
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
  <div id="Functional Genomics" class="bs-callout bs-callout-default" id="genomics">
    <h4>Functional Genomics</h4>
    <div class="container-fluid" style="margin-top: 20px;"></div>
    <div style="display: flex;">
      {% for key, data in jacks_data.items() %}
        <div style="margin: 0.5em; width: 100%;">
          {# TODO add cell line subtype into database #}
          <h4>{{ key[0] }} <a href="https://www.mesothelioma.com/mesothelioma/types/#cell-types" target="_blank">({{ key[1] }})</a></h4>
          <table name="genomics-table" class="table table-bordered table-striped text-center">
            <thead>
              <tr>
                <th class="text-center">Gene</th>
                <th class="text-center">Essentiallity Score</th>
                <th class="text-center">P-Value</th>
              </tr>
            </thead>
            <tbody>
              {% for datum in data %}
                <tr class="{% if datum[1] >= 0 or datum[3] > 0.001 %}insignificant-genomics{% endif %}">
                  <td>
                    <a
                      href=""
                      gene="{{ datum[0] }}"
                      cell-line="{{ key[0] }}"
                      name="genomics-link"
                      data-toggle="modal"
                      data-target="#genomics-modal"
                    >
                      <b>{{ datum[0] }}</b>
                    </a>
                  </td>
                  <td>{{ "%.1f" | format(datum[1]) }} &plusmn; {{ "%.2f" | format(datum[2]) }}</td>
                  <td>{{ "%.1E" | format(datum[3]) }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% endfor %}
    </div>
    <i>* entries with p-value < 0.001 or essentiallity score > 0 are colored red</i>
  </div>
  <div id="Functional Genomics w/ Cisplatin" class="bs-callout bs-callout-default" id="achilles-boxplots">
    <h4>Functional Genomics in Presence of Cisplatin</h4>
    <div class="container-fluid" style="margin-top: 20px;"></div>
    <div style="margin: auto; width: 700px;">
      <h4>MESO1 <a href="https://www.mesothelioma.com/mesothelioma/types/#cell-types" target="_blank">(Epithelioid)</a></h4>
      <table name="meso1-genomics-table" class="table table-bordered table-striped text-center">
        <thead>
          <tr>
            <th>Genes</th>
            <th>Mean Log Fold Change</th>
            <th>P-Value</th>
          </tr>
        </thead>
        <tbody>
          {% for gene, mean, p_value in meso1_data %}
            <tr>
              <td>
                <a
                  href=""
                  gene="{{ gene }}"
                  cell-line="MESO1"
                  name="genomics-link"
                  data-toggle="modal"
                  data-target="#genomics-modal"
                >
                  <b>{{ gene }}</b>
                </a>
              </td>
              <td>{{ "%.2f" | format(mean) }}</td>
              <td>{{ "%.1E" | format(p_value) }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div id="DepMap Summary" class="bs-callout bs-callout-default" id="achilles-boxplots">
    <h4>MPM DepMap Gene Effect Summary</h4>
    <div class="container-fluid" style="margin-top: 20px;"></div>

    <div id="achilles-boxplot" style="overflow: auto;"></div>

    <button id="save-achilles-boxplot" class="btn btn-primary btn-small" style="width: 200px; margin-top: 5px; display: block; margin-left: auto; margin-right: auto">Save Image</button>
  </div>
  <div id="GO Biological Processes" class='bs-callout bs-callout-default' id='gobp'>
    <h4>Enriched GO Biological Processes</h4>
    <div class="container-fluid" style="margin-top: 20px;"></div>
    <table id='gobps' class='table table-bordered text-center'>
      <thead>
        <tr>
          <td>GO Term</th><td>GO BP ID</td><td>Genes</td>
        </tr>
      </thead>
      <tbody>
        {% for gobp1 in gobps %}
          <tr>
            <td>{{ gobp1[2] | capitalize }}</td>
            <td>
                <a href='http://amigo.geneontology.org/amigo/term/{{ gobp1[1] }}' target='_blank'>
                  {{ gobp1[1] }}
                </a>
            </td>
            <td>
              {% if (gobp1[3] | count)>0 %}
                {% for gene in gobp1[3] %}
                  <a href='http://www.genecards.org/cgi-bin/carddisp.pl?gene={{ gene }}' target='_blank'>{{ gene }}</a>
                {% endfor %}
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div id="Hallmarks of Cancer" class='bs-callout bs-callout-default' id='hallmarks'>
    <h4>Enriched Hallmarks of Cancer</h4>
    <div class="container-fluid" style="margin-top: 20px;"></div>
    <div class="text-left">
      <table align='center'>
        <tr>
          <td>
            <center><span style='font-weight:bold;color:#f00;font-size:14pt;'>Enriched Hallmarks</span></center>
            <div class="container-fluid" style="margin-top: 10px;"></div>
            <ul>
              {% for h1 in hallmarks %} 
              <li><img src='/static/images/{{ h1[1] }}' width='20' alt='{{ h1[0] }}' title='{{ h1[0] }}'> {{ h1[0] }}</li>
              {% endfor %}
            </ul>
          </td>
          <td>
            <div class="container-fluid" style="margin-left: 15px;"></div>
          </td>
          <td align='center'>
            <span style='color:#f00;font-weight:bold;font-size:14pt;'>Legend:</span>
            <br>&nbsp;<br>
            <div class="hallmark-container" style="width: 300px;">
              <img src="/static/images/hallmarks.png" />
              <img class="{{hallmark_image_class[1]}}" src="/static/images/hallmark 1.png" />
              <img class="{{hallmark_image_class[2]}}" src="/static/images/hallmark 2.png" />
              <img class="{{hallmark_image_class[3]}}" src="/static/images/hallmark 3.png" />
              <img class="{{hallmark_image_class[4]}}" src="/static/images/hallmark 4.png" />
              <img class="{{hallmark_image_class[5]}}" src="/static/images/hallmark 5.png" />
              <img class="{{hallmark_image_class[6]}}" src="/static/images/hallmark 6.png" />
              <img class="{{hallmark_image_class[7]}}" src="/static/images/hallmark 7.png" />
              <img class="{{hallmark_image_class[8]}}" src="/static/images/hallmark 8.png" />
              <img class="{{hallmark_image_class[9]}}" src="/static/images/hallmark 9.png" />
              <img class="{{hallmark_image_class[10]}}" src="/static/images/hallmark 10.png" />
            </div>
            <br><small><a href='http://www.ncbi.nlm.nih.gov/pubmed/21376230'>Hanahan and Weinberg, Cell 2011</a></small>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

<!-- causal flow modal -->
<div class="modal fade" id="expressions-modal" tabindex="-1" role="dialog" aria-labelledby="expressions-modal-label">
  <div class="modal-dialog modal-lg" role="document" style="width: fit-content; padding: 2em;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="expressions-modal-label">Causal Flow&nbsp;<div id="expressions-name" style="display: inline;"></div></h4>
      </div>
      <div class="modal-body" style="padding: 2em;">
        <center>
          <div class="form-group" style="width: 200px;">
            <label for="causal-phenotype-select">Phenotype</label>
            <select id="causal-phenotype-select" class="form-control">
              {% for phenotype in expression_selectable_phenotypes %}
                <option value="{{ phenotype[1] }}">{{ phenotype[0] }}</option>
              {% endfor %}
            </select>
            <button id="save-causal-flow" class="btn btn-primary btn-small" style="width: 100%; margin-top: 5px;">Save Image</button>
          </div>
        </center>
        <div id="causal-flow"></div>
      </div>
    </div>
  </div>
</div>

<!-- functional genomics modal -->
<div class="modal fade" id="genomics-modal" tabindex="-1" role="dialog" aria-labelledby="genomics-modal-label">
  <div class="modal-dialog modal-lg" role="document" style="width: fit-content; padding: 2em;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Functional Genomics&nbsp;<div id="genomics-name" style="display: inline;"></div></h4>
      </div>
      <div class="modal-body" style="padding: 2em;">
        <h4 id="genomics-modal-label"></h4>
        <table class="table table-bordered table-striped text-center" id="genomics-grna-table">
          <thead>
            <tr>
              <th>gRNA</th>
              <th>Sequence</th>
              <th>Mean Log Fold Change</th>
              <th>P-Value</th>
            </tr>
          </thead>
          <tbody id="genomics-grna-tbody">
          </tbody>
        </table>
        <a
          target="_blank"
          id="depmap-link"
          class="btn btn-primary btn-small"
          style="display: block; margin: auto; width: 200px; margin-top: 5px;"
        >
          View DepMap
        </a>
      </div>
    </div>
  </div>
</div>

<div id="causal-flow-tooltip" class="causal-flow-tooltip"></div>
<div id="achilles-tooltip" class="achilles-tooltip"></div>

<script>
  let elements = document.getElementsByClassName("expression-viewer");

  let causalMutation, causalRegulator, causalBicluster

  for(let i = 0; i < elements.length; i++) {
    let element = elements[i]
    element.addEventListener("click", event => {
      causalMutation = element.attributes["mutation"].value
      causalRegulator = element.attributes["regulator"].value
      causalBicluster = element.attributes["bicluster"].value
      loadCausalFlow(causalMutation, causalRegulator, causalBicluster, document.getElementById("causal-phenotype-select").value)
    })
  }

  document.getElementById("causal-phenotype-select").addEventListener("change", event => {
    loadCausalFlow(causalMutation, causalRegulator, causalBicluster, document.getElementById("causal-phenotype-select").value)
  })

  document.getElementById("phenotype-select").addEventListener("change", event => {
    let value = event.target.value
    plotExpressions(value)
  })

  for(const link of document.getElementsByName("genomics-link")) {
    link.addEventListener("click", function(event) {
      const gene = this.attributes["gene"].value
      const cellLine = this.attributes["cell-line"].value

      loadGRNAData(gene, cellLine)
    })
  }

  plotExpressions("histology_WHO")

  plotAchillesBoxplot("{{ bicluster }}", 1410)

  // resize achilles boxplots if screen size changes
  /*window.addEventListener("resize", (event) => {
    if(achillesSize != Math.floor($("#achilles-boxplots").width() / boxplotSizePerDatum)) {
      achillesSize = Math.floor($("#achilles-boxplots").width() / boxplotSizePerDatum)

      plotAchillesBoxplot("{{ bicluster }}", achillesSize, boxplotSizePerDatum)
    }
  })*/
</script>

<script src="/static/js/side-nav.js"></script>

{% endblock %}
