{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block scripts %}
    <!-- Datatables JQuery table formatting and interface -->
    <script type="text/javascript" src="https://cdn.datatables.net/t/dt/jq-2.2.0,dt-1.10.11/datatables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/t/dt/jq-2.2.0,dt-1.10.11/datatables.min.css"/>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>

    <script src="/static/js/dagre.min.js"></script>
    <script src="/static/js/cytoscape.min.js"></script>
    <script src="/static/js/cytoscape-dagre.js"></script>

    <style>
      #regulation-graph {
        width: 100%;
        height: 300px;
        left: 0px;
        top: 0px;
      }
      #boxplot-graph {
        width: 60%;
        height: 250px;
        left: 0px;
        top: 0px;
        float: left;
      }
      #enrichment-graph {
        width: 40%;
        height: 250px;
        left: 0px;
        top: 0px;
        float: left;
      }
    </style>

    <!-- Javascript to modify tables -->
    <script type="text/javascript">
        jQuery.extend( jQuery.fn.dataTableExt.oSort, {
            "non-empty-string-asc": function (str1, str2) {
                if(str1 == "")
                    return 1;
                if(str2 == "")
                    return -1;
                return ((str1 < str2) ? -1 : ((str1 > str2) ? 1 : 0));
            },
         
            "non-empty-string-desc": function (str1, str2) {
                if(str1 == "")
                    return 1;
                if(str2 == "")
                    return -1;
                return ((str1 < str2) ? 1 : ((str1 > str2) ? -1 : 0));
            }
        } );
        
        $(document).ready(function() {
            $('#gobps').DataTable( {
                columnDefs: [
                    {type: 'non-empty-string', targets: 2}
                ],                
                "order": [[2, "asc"]]
            });
            var shiftWindow = function() { scrollBy(0, -50) };
            window.addEventListener("hashchange", shiftWindow);
            function load() { if (window.location.hash) shiftWindow(); }


      $('#boxplot-graph').highcharts({
        chart: {type: 'boxplot'},
        legend: {enabled: true},
        title: {text: ''},
        xAxis: {
          plotLines: [{
            value: {{in_data|length}}, color: 'red', dashStyle: 'shortdash',
            width: 1, zIndex: 3,
            label: {
              text: 'columns in/out ({{all_boxplot_data|length}})',
              style: { color: 'gray', fontSize: '8pt' }
            }
          },
          {
            value: {{quintiles[0]}},
            color: 'lightGray', dashStyle: 'shortdash',
            width: 1, zIndex: 3,
            label: {
              text: '20%', style: { color: 'lightGray', fontSize: '8pt' }
            }
          },
          {
            value: {{quintiles[1]}},
            color: 'lightGray', dashStyle: 'shortdash',
            width: 1, zIndex: 3,
            label: {
              text: '40%', style: { color: 'lightGray', fontSize: '8pt' }
            }
          },
          {
            value: {{quintiles[2]}},
            color: 'lightGray', dashStyle: 'shortdash',
            width: 1, zIndex: 3,
            label: {
              text: '60%', style: { color: 'lightGray', fontSize: '8pt' }
            }
          },
          {
            value: {{quintiles[3]}},
            color: 'lightGray', dashStyle: 'shortdash',
            width: 1, zIndex: 3,
            label: {
              text: '80%', style: { color: 'lightGray', fontSize: '8pt' }
            }
          }
          ]
        },
        yAxis: {
          title: {text: 'Relative Expression'},
          plotLines: [{
            value: {{ratios_mean}},
            color: 'green', dashStyle: 'shortdash', width: 1, zIndex: 3,
            label: {
              text: 'mean',
              style: { color: 'gray', fontSize: '8pt' }
            }
          }]
        },
        series: [{
          name: 'All',
          showInLegend: false,
          colorByPoint: true,
          data: {{js_boxplot_data|safe}},
          colors: {{boxplot_colors|safe}}
          },
          { name: 'Normal Brain', color: '#6abd45'},
          { name: 'Classical', color: 'black'},
          { name: 'Neural', color: '#32689b'},
          { name: 'G-CIMP', color: '#8a171a'},
          { name: 'Proneural', color: '#ed2024'},
          { name: 'Mesenchymal', color: '#faa41a'},
          { name: 'NA', color: 'grey'}
          ]
      });
      $('#enrichment-graph').highcharts({
          chart: {type: 'column', alignTicks: false}, 
          title: {text: ''},
          xAxis: {
            plotLines: [
              {
                value: {{enrich_quintiles[0]}},
                color: 'lightGray', dashStyle: 'shortdash',
                width: 1, zIndex: 3,
                label: {
                  text: '20%', style: { color: 'lightGray', fontSize: '8pt' }
                }
              },
              {
                value: {{enrich_quintiles[1]}},
                color: 'lightGray', dashStyle: 'shortdash',
                width: 1, zIndex: 3,
                label: {
                  text: '40%', style: { color: 'lightGray', fontSize: '8pt' }
                }
              },
              {
                value: {{enrich_quintiles[2]}},
                color: 'lightGray', dashStyle: 'shortdash',
                width: 1, zIndex: 3,
                label: {
                  text: '60%', style: { color: 'lightGray', fontSize: '8pt' }
                }
              },
              {
                value: {{enrich_quintiles[3]}},
                color: 'lightGray', dashStyle: 'shortdash',
                width: 1, zIndex: 3,
                label: {
                  text: '80%', style: { color: 'lightGray', fontSize: '8pt' }
                }
              }
            ]},
          yAxis: {
            title: {text: 'Enrichment of Subtypes in Quintiles'},
            max: {{max_enrichment_pvalue}},
            min: {{min_enrichment_pvalue}},

            plotLines: [{
              value: {{enrichment_upper}},
              color: 'red', dashStyle: 'shortdash', width: 1, zIndex: 3,
            },
            {
              value: {{enrichment_lower}},
              color: 'red', dashStyle: 'shortdash', width: 1, zIndex: 3,
            }]
          },
          series: [
            { name: 'All', data: {{js_enrichment_data|safe}},
              showInLegend: false, colorByPoint: true,
              colors: {{js_enrichment_colors|safe}}
          }]
        });
        
        var graphElements = {{elements|safe}};

        var cy = cytoscape({
          container: $('#regulation-graph'),
          elements: graphElements,

          style: [
            {
              selector: 'edge',
              style: { 'width': 3, 'line-color': '#000', 'opacity': 0.2, 'target-arrow-color': '#000', 'target-arrow-shape': 'triangle' }
            },
            {
              selector: '.repressor',
              style: { 'width': 3, 'line-color': '#f00', 'opacity': 0.3, 'target-arrow-color': '#f00', 'target-arrow-shape': 'tee' }
            },
            {
              selector: '.activator',
              style: { 'width': 3, 'line-color': '#0f0', 'opacity': 0.3, 'target-arrow-color': '#0f0', 'target-arrow-shape': 'triangle' }
            },
 
            {
              selector: '.genotype',
              style: { 'background-color': '#d0d', 'label': 'data(name)', 'shape': 'polygon', 'shape-polygon-points': '-1 -1 0 -0.45 1 -1 0 1' }
            },
            {
              selector: '.tf',
              style: { 'background-color': '#f00', 'label': 'data(name)', 'shape': 'triangle' }
            },
            {
              selector: '.mirna',
              style: { 'background-color': '#ec5', 'label': 'data(name)', 'shape': 'diamond' }
            },
            {
              selector: '.bicluster',
              style: { 'background-color': '#aaa', 'label': 'data(name)', 'shape': 'square' }
            },
            {
              selector: '.hallmark',
              style: { 'background-color': '#0f0', 'label': 'data(name)', 'shape': 'rhomboid' }
            }
          ], layout: { name: 'dagre'}
        });
          cy.resize();

        });
    </script>
{% endblock %}
{% block content %}
    <div class="container-fluid" style="margin-top: 40px;"></div>
    <div>
      <div class='bs-callout bs-callout-success text-center'><h3><strong>{{ bicluster | upper }}</strong></h3></div>
      <div class='bs-callout bs-callout-default'>
          <h4>Bicluster Network Summary <span class="glyphicon glyphicon-info-sign" data-toggle='collapse' data-target='#bicNet' style='color:#f00;)'></span></h4>
                    <div id='bicNet' class='collapse' style='text-align:justify;'> <div align='center'><b>Legend:</b><br> <span class="glyphicon glyphicon-stop" style='color:#d0d;'></span> = Somatically mutated gene/pathway</br>
              <span class="glyphicon glyphicon-stop" style='color:#f00'></span> = TF; <span class="glyphicon glyphicon-stop" style='color:#ec5'></span> = miRNA; (Regulator edges: <span class="glyphicon glyphicon-arrow-up" style='color:#0f0; opacity:0.7;'></span> = Activation; <span style='color:#f00; opacity:0.7;'><b>T</b></span> = Repression)<br> <span class="glyphicon glyphicon-stop" style='color:#aaa'></span> = Bicluster<br> <span class="glyphicon glyphicon-stop" style='color:#0f0'></span> = Hallmark of Cancer</div>
      </div>
          <div id="regulation-graph"></div>
      </div>
      <div class='bs-callout bs-callout-default'>
        <h4>Summary</h4>
        <div align='center'>
        <table width='100%'>
            <tr>
                    <td width='60%' align='center'><span data-toggle='collapse' data-target='#tumorExp'><b>Bicluster Expression of Patient Tumors</b></span> <span class="glyphicon glyphicon-info-sign" data-toggle='collapse' data-target='#tumorExp' style='color:#f00;)'></span>
                    <div id='tumorExp' class='collapse' style='text-align:justify;'>Expression of genes from patient tumors in bicluster on left side of red dashed line and out of bicluster on right of red dashed line. Each patient tumor is represented as a boxplot, ordered by their median expression for the bicluster genes (smallest to largest) and colored according to it's GBM subtype.</div></td>
                <td width='40%' align='center'><span data-toggle='collapse' data-target='#enrich'><b>Enrichment of Tumor Subtypes in Qunitiles</b></span> <span class="glyphicon glyphicon-info-sign" data-toggle='collapse' data-target='#enrich' style='color:#f00;)'></span>
                    <div id='enrich' class='collapse' style='text-align:justify;'>Patient tumors are sorted as on the left and broken into quintiles following the dashed grey lines. Then each quintile is tested for enrichment of each tumor subtype. The deviation from zero indicate -log10(enrichment p-value), and positive values indicate over-enrichment and negative values underenrichment.</div></td>
                </tr>
            </table>
            <div id="boxplot-graph"></div>
            <div id="enrichment-graph"></div>
        </div>
        <table class='table table-bordered table-striped text-center'>
          <tr>
              <th class='text-center'>Genes</th><th class='text-center'>Patient Tumors</th><th class='text-center'>FPC Var. Exp.<br>(Perm. <em>p</em>-value)</th><th class='text-center'>Survival<br>(<em>p</em>-value)</th><th class='text-center'>Independent Replication</th>
          </tr>
          <tr>
            <td><a href='#genes'>{{genes|length}}</a></td><td><a href='#tumors'>{{tumors|length}}</a></td>
            {# varexp #}
            <td>{% if bic_info.varexp_flag %}<div style='font-weight: bold; color:#990000'>{% endif %}{{"%.2f"|format(bic_info.varexp_fpc)}} ({{"%.1E"|format(bic_info.varexp_fpc_pval)}}){% if bic_info.varexp_flag %}</div>{% endif %}</td>
            
            {# Survival #}
            <td>{% if bic_info.survival_flag %}<div style='font-weight: bold; color:#990000'>{% endif %}{{ "%.2f" | format(bic_info.survival) }} ({{ "%.1E" | format(bic_info.survival_pval) }}){% if bic_info.survival_flag %}</div>{% endif %}</td>
            
            {# Replication #}
            <td><a>{% if not bic_info.repl_coexp and not bic_info.repl_survival %}None{% endif %}{% if bic_info.repl_coexp %}<a href='#replication'>Co-expression</a>{% endif %}<br>{% if bic_info.repl_survival %}<a href='#replication'>Survival</a>{% endif %}</td>

          </tr>
        </table>
        <table class='table table-bordered table-striped text-center'>
          <tr>
              <th class='text-center'>Regulators</th><th class='text-center'>Causal Flows</th><th class='text-center'>Enriched GO BPs</th><th class='text-center'>Enriched<br>Hallmarks of Cancer</th>
          </tr>
          <tr>
            <td><a href='#regulators'>{{ regulators | count }}</a></td><td><a href='#causal'>{{ causalFlows | count }}</a></td><td><a href='#gobp'>{{ gobps | count }}</a></td><td><a href='#hallmarks'>{{ hallmarks | count }}</a></td>
          </tr>
        </table>
      </div>

      <div class='bs-callout bs-callout-default' id='replication'>
        <h4>Replication in independent datasets</h4>
        <div class="container-fluid" style="margin-top: 20px;"></div>
        <table class='table table-bordered table-striped text-center'>
          <tr>
            <th class='text-center'>Study</th><th class='text-center'>FPC Var. Exp. (Perm. <em>p</em>-value)</th><th class='text-center'>Survival (<em>p</em>-value)</th>
          </tr>
          {% for rep1 in replication %}
          <tr>
            <td><a href='http://www.ncbi.nlm.nih.gov/pubmed/{{ rep1[8] }}' target='_blank'>{{ rep1[7] }}</a></td><td>{% if rep1[9]==1 %}<div style='font-weight: bold; color:#990000'>{% endif %}{{ "%.2f" | format(rep1[3]) }} ({{ "%.1E" | format(rep1[4]) }}){% if rep1[9]==1 %}</div>{% endif %}</td><td>{% if rep1[10]==1 %}<div style='font-weight: bold; color:#990000'>{% endif %}{{ "%.2f" | format(rep1[5]) }} ({{ "%.1E" | format(rep1[6]) }}){% if rep1[10]==1 %}</div>{% endif %}</td>
          </tr>
          {% endfor %}
          <tr>
          </tr>
        </table>
      </div>
      
      <div class='bs-callout bs-callout-default' id='genes'>
        <h4>Genes</h4>
        <div class="container-fluid" style="margin-top: 20px;"></div>
        <div class='text-left'><ul class='list-inline'>{% for gene in genes %}
            <li><a href='http://www.genecards.org/cgi-bin/carddisp.pl?gene={{ gene[1] }}' target='_blank'>{{ gene[1] }}</a></li>
            {% endfor %}</ul></div>
      </div>
                        
      <div class='bs-callout bs-callout-default' id='tumors'>
        <h4>Patients <span class="glyphicon glyphicon-plus" data-toggle='collapse' data-target='#patients'></span></h4>
        <div id='patients' class='collapse'><ul class='list-inline'>
            {% for patient in tumors %}
            <li>{{ patient[1] }}</li>
            {% endfor %}
        </ul></div>
      </div>

      <div class='bs-callout bs-callout-default' id='regulators'>
        <h4>Regulators</h4>
        <div class="container-fluid" style="margin-top: 20px;"></div>
        <table class='table table-bordered table-striped text-center'>
          <tr>
            <th class='text-center'>Type</th><th class='text-center'>Name</th><th class='text-center'>Action</th><th class='text-center'>Prior Knowledge</th>
          </tr>
          {% for reg1 in regulators %}
          <tr>
            <td>{{ reg1[0] }}</td><td><a href='/search?gene={{reg1[2]}}'>{{ reg1[2] }}</a></td><td>{% if reg1[3]=='Repressor' %}<div style='font-weight: bold; color:#990000'>{{ reg1[3] }}</div>{% endif %}{% if reg1[3]=='Activator' %}<div style='font-weight: bold; color:#009900'>{{ reg1[3] }}</div>{% endif %}</td><td>{{ reg1[4] }}</td>
          </tr>
          {% endfor %}
          <tr>                                    
          </tr>
        </table>        
      </div>      
      <div class='bs-callout bs-callout-default' id='causal'>
        <h4>Causal Flows</h4>
        <div class="container-fluid" style="margin-top: 20px;"></div>
        <table class='table table-bordered table-striped text-center'>
          <tr>
            <th class='text-center'><span style='font-weight: bold; color:#990000'>Mutation</span></th><th class='text-center'><span class='glyphicon glyphicon-arrow-right'></span></th><th class='text-center'><span style='font-weight: bold; color:#006600'>Regulator</span></th><th class='text-center'><span class='glyphicon glyphicon-arrow-right'></span></th><th class='text-center'><span style='font-weight: bold; color:#000099'>Bicluster</span></th>
          </tr>
          {% for cf1 in causalFlows %}
          <tr>
            <td><span style='color:#990000'>{{ cf1[0] }}</span></td><td><span class='glyphicon glyphicon-arrow-right'></span></td><td><span style='color:#006600'>{{ cf1[1] }}</span></td><td><span class='glyphicon glyphicon-arrow-right'></span></td><td><span style='color:#000099'>{{ bicluster | upper }}</span></td>
          </tr>
          {% endfor %}
        </table>
      </div>      
      <div class='bs-callout bs-callout-default' id='gobp'>
        <h4>Enriched GO Biological Processes</h4>
        <div class="container-fluid" style="margin-top: 20px;"></div>
        <table id='gobps' class='table table-bordered text-center'>
          <thead>
            <tr>
              <td>GO Term</th><td>GO BP ID</td><td>Genes</td>
</tr>
</thead>
<tbody>
  {% for gobp1 in gobps %}
  <tr>
    <td>{{ gobp1[2] | capitalize }}</td><td><a href='http://amigo.geneontology.org/amigo/term/{{ gobp1[1] }}' target='_blank'>{{ gobp1[1] }}</a></td><td>{% if (gobp1[3] | count)>0 %}{% for gene in gobp1[3] %}<a href='http://www.genecards.org/cgi-bin/carddisp.pl?gene={{ gene }}' target='_blank'>{{ gene }}</a> {% endfor %}{% endif %}</td>
  </tr>
  {% endfor %}
</tbody>
</table>
</div>

<div class='bs-callout bs-callout-default' id='hallmarks'>
  
  <h4>Enriched Hallmarks of Cancer</h4>
  <div class="container-fluid" style="margin-top: 20px;"></div>
  <div class="text-left">
    <table align='center'>
      <tr>
        <td>
            <center><span style='font-weight:bold;color:#f00;font-size:14pt;'>Enriched Hallmarks</span></center>
          <div class="container-fluid" style="margin-top: 10px;"></div>
          <ul>
            {% for h1 in hallmarks %} 
            <li><img src='/static/images/{{ h1[1] }}' width='20' alt='{{ h1[0] }}' title='{{ h1[0] }}'> {{ h1[0] }}</li>
            {% endfor %}
        </ul></td>
        <td><div class="container-fluid" style="margin-left: 15px;"></div></td>
        <td align='center'><span style='color:#f00;font-weight:bold;font-size:14pt;'>Legend:</span><br>&nbsp;<br><img src='/static/images/legend.jpg' alt='Hallmarks of Cancer' width=300><br><small><a href='http://www.ncbi.nlm.nih.gov/pubmed/21376230'>Hanahan and Weinberg, Cell 2011</a></small></td>
      </tr>
    </table>
  </div>
</div>
</div>
{% endblock %}
