{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block scripts %}
<script type="text/javascript">
  function geneAutocomplete() {
    $('#term').autocomplete({
      source: '/genecompletions',
      minLength: 2,
    });
  }
  $(document).ready(function () {
    geneAutocomplete();
  });
</script>
{% endblock %}
{% block content %}
<div class="container-fluid" style="margin-top: 40px;"></div>
<img class='displayed' alt='mpmSYGNAL Transcriptional Regulaotry Network' style="width:600px;" src='/static/images/mpmSygnalNetwork.png' />
<div class='text-center bs-callout bs-callout-default'>
  <h4>
    Search for gene or somatic mutation: <span class="glyphicon glyphicon-info-sign" data-toggle='collapse' data-target='#searchHelp' style='color:#600;)'></span>
  </h4>
  <center>
    <div id='searchHelp' class='collapse' style='text-align:justify;width:500px;'>Search for genes or regulators from
      the mpmSYGNAL network by using autocomplete in the search field based on your input. For example input IRF and it
      brings up all the possbile matches. Then select the correct search term from the drop down list and click the
      Search button to find all the somatic mutations, regulators or bilcusters with that gene/miRNA.
    </div>
  </center>
  <form id="searchform" action="search" method="get">
    <input id="term" name="gene" type="search" size=35>
    <button type="submit" class="btn btn-danger" value="search">
      <span class="glyphicon glyphicon-search" aria-hiddne="true"></span> Search
    </button>
  </form>
  <br>
  (Examples: somatic mutation = <a href='/gene/NF2'>NF2</a>, regulator = <a href='/gene/E2F1'>E2F1</a> or <a href='/mirna/hsa-mir-29a-3p '>hsa-mir-29a-3p </a>, and gene in bicluster = <a href='/gene/ABO'>ABO</a>)
</div>
<div class='text-center bs-callout bs-callout-default'>
  <h4>
    Explore Combinatorial Regulatory Network for MPM:
    <span class="glyphicon glyphicon-info-sign" data-toggle='collapse' data-target='#combNet' style='color:#600;)'></span>
  </h4>
  <center>
    <div id='combNet' class='collapse' style='text-align:justify;width:500px;'>Explore an interactive network of combinatorial TF and miRNA regulatory interactions.</div>
  </center>
  <a href='/combinatorial_network'><img class='displayed' alt='mpmSYGNAL Transcriptional Regulaotry Network' src='/static/images/combNet.gif'></a>
</div>
{% endblock %}