{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}
<p><div class="container-fluid" style="margin-top: 30px;">
    <img class='displayed' src='/static/images/gbmSygnalNetwork.gif'>
        <center>
            <h4>Search for gene or somatic mutation:</h4>
            <form id="searchform" action="searchgene" method="get">
                <input id="term" name="searchterm" type="search" size=35>
                <input id="searchbutton" type="submit" value="Search" class='searchbutton'>
            </form>
        </center>
    </div></p>&nbsp;</br>
{% endblock %}
{% block bottom %}
    <script type="text/javascript">
      function geneAutocomplete() {
        $('#term').autocomplete({
          source: '/genecompletions',
          minLength: 2,
        });
      }
      $(document).ready(function() {
        geneAutocomplete();
      });
    </script>
{% endblock %}

